<div id="front" class="board" ng-class="animate_state ? 'animated fadeInRight' : 'animated fadeOutRight'">
	<h3 class="title">僕のAngularJSとHTML5の遊び場</h3>
	<p>AngularJSとHTML5を遊びたい目的でこのサイトを作りました。</p>
	<p>画像が荒すぎですみません！</p>
	
    <p><span style="font-weight: bold;padding: 0;">ABOUT ME</span></p>
    <p>
        <a class="btn-share btn-twitter" href="https://twitter.com/edisonthk">Twitter</a>
        <a class="btn-share btn-github" href="https://github.com/edisonthk/angularjs_and_html5">Github</a>
        <a class="btn-share btn-fb" href="https://www.facebook.com/heng.likwee">Facebook</a>
    </p>
</div>