<div ng-controller="HelloController">
    <div class="logo sidewidth">
        <h1>@edisonthk</h1>
        <h5>プロフィール</h5>
    </div>

    <div class="navmenu sidewidth">
        <ul>
            <li ng-class="{active: currentPath == 'front'}">
                <a href="/">ホーム<br/><small>HOME</small></a>
            </li>
            <!-- <li><a href="/profile">プロフィール      <br/><small>PROFILE</small></a></li> -->
            <li ng-class="{active: currentPath == 'skills'}">
                <a href="/skills">スキル<br/><small>SKILL</small></a>
            </li>
            <li ng-class="{active: currentPath == 'interest'}">
                <a href="/interest">趣味<br/><small>INTEREST</small></a>
            </li>
        </ul>
    </div>

    <div class="content" 
        style="opacity: 0;" 
        ng-style="{'opacity': framesLoadedFlag ? 1 : 0 }"
        ng-include="userfield.content"></div>

    <background control="bgControl" class="bg"></background>

</div>